.header-items{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
@media screen and (min-width:1200px) {
    .header-items{
         align-items:baseline;
    }
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: $black;
    text-decoration: none;
    margin: 30px 0;
}
.logo-decor-text{
    color: $hover;
}
// .navigation {
//     display: none;
// }
@media screen and (max-width:768px){
    .navigation {
        display: none;
    }
}
@media screen and (min-width:768px){
    .navigation{
        display: flex;  
        justify-content:space-around;
        margin-left: 85px;
        width: 519px;
        &:focus-within{
            margin-bottom: 0px;
        }
    }
}
@media screen and (min-width:1200px) {
    .navigation{
    margin-left: 95px;
    width: 933px;
    &:focus-within{
        margin-bottom: 0px;
    }
}
}
.nav-ul{
        display: flex;
        gap: 50px;
        margin-top: 30px;
        align-self: center;
        padding-top: 7px;
    }
.nav-ul_el{
    @include fonts($font-weight:500);
    @include transition();
    color:$dark-text;
    text-decoration: none;
    &:hover, &:focus{
        color: $hover;
    }
    &::after{
        display: block;
        content:'';
        height: 4px;
        background-color:inherit;
        border: none;
        border-radius: 3px;
        margin-top: 29px;
        @include transition($property:background-color);
    }
    &:focus::after{
        background-color:$hover;
    }
}
.header-address{
    @extend .nav-ul;
    
    & li:hover{
        .address_el{
            color:$hover;
        }
        .address-svg{
            fill:$hover;
        }
    }
}
@media screen and (min-width:768px) {
    .header-address{
        flex-direction: column;
        gap: 0;
        line-height: 30px;
        margin-top: 0px;
    }
}
@media screen and (min-width:1200px) {
    .header-address{
        flex-direction:row;
        gap: 30px;
        // line-height: 30px;
        // margin-top: 0px;
    }
}
.address_el{
   @include fonts($font-weight:500);
    color: $grey-text;
    text-decoration: none;
   @include transition();
}
.address-svg{
    vertical-align: middle;
    fill:$grey-text;
    margin-right: 10px;
    @include transition($property:fill)
}
.outline{
    @include border($color:rgb(236, 236, 236));
}
.menu-toggle {
    min-height: 40px; 
    min-width: 40px;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin: 0;  
    padding: 0;
    background-color: transparent;
    cursor: pointer;  
    border: none;
    // border-radius: 50%;  
    outline: none;
    }
    @media (min-width: 768px) {  
      .menu-toggle {
      display: none;  
    }
    }