@mixin fonts( $font-family:'Roboto', $font-size:14px, $font-weight:400){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}
@mixin transition($property:color, $duration:250ms, $timing-function:cubic-bezier(0.4, 0, 0.2, 1)){
    transition-property:$property;
    transition-duration:$duration;
    transition-timing-function:$timing-function;
}
@mixin border($border:solid 1px, $color: rgba(33, 33, 33, 0.2), $radius:5px){
    border:$border;
    border-radius:$radius;
    border-color: $color;
}